*{
	margin: 0;padding: 0;
}
#main{
	position: relative;
}
.box{
	padding: 10px 0 0 10px;
	float: left;
}
.pic{
	padding: 10px;
	border:1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 5px;
}
.pic img{
	width: 250px;
	height: auto;
}